In [5]:
from matplotlib import pyplot as plt
from scipy import stats
import pandas as pd
import numpy as np

In [7]:
data_science_salaries = pd.read_csv("Resources/Latest_Data_Science_Salaries.csv")
data_science_salaries.head()

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023

In [28]:
job_title_count= data_science_salaries.groupby("Job Title")
job_title_count["Job Title"].count().sort_values(ascending=False)

Job Title
Data Engineer                      702
Data Scientist                     635
Data Analyst                       459
Machine Learning Engineer          300
Analytics Engineer                 132
                                  ...
Data Engineer 2                      1
Data DevOps Engineer                 1
Cloud Data Architect                 1
Data Science Tech Lead               1
Staff Machine Learning Engineer      1
Name: Job Title, Length: 111, dtype: int64

In [29]:
job_title_count= data_science_salaries.groupby("Employee Residence")
job_title_count["Employee Residence"].count().sort_values(ascending=False)

Employee Residence
United States     2453
United Kingdom     245
Canada             101
Germany             58
India               57
                  ...
Kenya                1
Malta                1
Malaysia             1
Luxembourg           1
Algeria              1
Name: Employee Residence, Length: 83, dtype: int64